<div class="row">
    <div class="col-xs-12">
        <img src="{{SelectedRecipe.imagePath}}" alt="{{SelectedRecipe.name}}" style="max-height:100px" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="class-xl-12">
        <h1>{{SelectedRecipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="btn-group" appDropdown>
            <button type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a style="cursor:pointer" (click)="onAddToShoppingList($event)">To Shopping list</a></li>
            <li><a style="cursor:pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
            <li><a style="cursor:pointer">Delete Recipe</a></li>
        </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="class-xl-12">
        {{SelectedRecipe.description}}
    </div>
</div>

<div class="row">
    <div class="class-xl-12">
        <div class="list-group">
            <div *ngFor="let ingredient of SelectedRecipe.ingredients"  class="list list-group-item">
                {{ingredient.name}} - {{ingredient.amount}}
            </div>
        </div>
    </div>
</div>

